body

    &.hasBackdrop
        overflow: hidden

    .no-margin
        margin: 0 !important


    .animate-fade
        &.ng-enter
            transition: .3s ease-out
            opacity: 0
            &.ng-enter-active
                opacity: 1

        &.ng-leave
            transition: none
            opacity: 1
            &.ng-leave-active
                opacity: 0       

*
    outline: none