<div id="selectContainer" layout="row" layout-align="space-between center">
    <div class="filter" flex="40">
        <span class="label">Program Level</span>
        <md-select class="md-no-underline" multiple ng-model="user.level" ng-change="user.page = 0" md-selected-text="{{user.level}}" aria-label="Program Level">
            <md-option ng-value="'All Programs'">All Programs</md-option>
            <md-option ng-repeat="level in levels">{{level}}</md-option>
        </md-select>
    </div>
    <div class="filter" flex="40">
        <span class="label">Area of Study</span>
        <md-select class="md-no-underline" multiple ng-model="user.college" ng-change="user.page = 0" md-selected-text="{{user.college}}" aria-label="Program Level">
            <md-option ng-value="'All Schools'">All Schools</md-option>
            <md-option ng-repeat="school in schools | orderBy: '+'">{{school}}</md-option>
        </md-select>
    </div>
</div>

<md-list id="degreeList">
    <md-list-item ng-repeat="degree in filtered = (degrees | filter: degreeFilter) | orderBy: ['school', 'degree'] | limitTo: 10 : user.page * 10" ng-click="getDegreeInfo(degree.id, degree.cat_id)" md-no-proxy layout="row" layout-align="start center" layout-wrap>
        <div layout="column">
            <div id="degree_title">{{degree.degree}}</div>
            <div id="degree_school">{{degree.school}}</div>
        </div>
    </md-list-item>
</md-list>

<div id="pages">
    <div id="emptyResults" ng-if="!filtered.length && user.level.length && user.college.length">No results to display.</div>
    <div id="emptyFields" ng-if="!filtered.length && !user.level.length">Please select a <b>Program Level</b></div>
    <div id="emptyFields" ng-if="!filtered.length && !user.college.length">Please select an <b>Area of Study</b></div>
    <div class="prev" ng-if="filtered.length" ng-disabled="!user.page" ng-click="user.page = user.page-1">{{$ctrl.size == 'xs' ? '&#10094' : 'Previous'}}</div>
    <span ng-repeat="i in getArray(filtered.length) | limitTo: 5:(user.page >= 5 ? maxPages - 5  : user.page)" ng-click="user.page = i" ng-class="{active:user.page == i, first:$first, last:$last}">{{i+1}}</span>
    <div class="next" ng-if="filtered.length" ng-disabled="user.page == maxPages-1" ng-click="user.page = user.page+1">{{$ctrl.size == 'xs' ? '&#10095' : 'Next'}}</div>
</div>


<!-- Course Click -->

<div id="backdropContainer" ng-if="app.hasBackdrop" class="animate-fade">
    <div id="backdrop" layout="row" layout-wrap ng-if="courseLoaded" class="animate-fade">
        <div id="top" layout="row" layout-align="space-between center" flex="100">
            <div layout="row">
                <ng-letter-avatar data="{{course.name}}" charCount="1" dynamic="true" width="50" height="50"></ng-letter-avatar>
                <div layout="column">
                    <div id="name" flex>{{course.name}}</div>
                    <div class="parent_name">{{course.parent_name}}</div>
                </div>
            </div>
            <div id="close" ng-click="app.hasBackdrop = false; emptyCourse()">x</div>

        </div>


        <div class="container no-margin" layout="column">
            <div class="core" ng-repeat="core in course.cores">
                <div class="title" ng-if="core.courses.length">{{core.name}}</div>
                <div class="courses" ng-repeat="course in core.courses" ng-init="open = false;" ng-click="getCourseInfo(course['legacy-id'], course['catalog-id']);open = !open">
                    {{course.title}}
                    <div class="course_desc" ng-if="open">{{preview}}</div>
                </div>
            </div>
            <div class="title">Hours</div>
            <div class="course_hours" ng-bind-html="course.course_hours"></div>
        </div>



        <div class="container" flex layout="column">
            <div class="title">About</div>
            <div class="about" ng-bind-html="course.about"></div>
        </div>



        <div class="container" layout="column">
            <div class="title">Faculty</div>
            <div class="deanHolder" ng-repeat="(key, value) in course.staff track by $index" layout="row" layout-align="space-between center">
                <div layout="row">
                    <img src="./images/grey_bg.png" ng-src="{{value.PictureLink}}&w=100&h=40" />
                    <div layout="column">
                        <div id="deanName">{{value.PreferredName}}</div>
                        <div id="deanPosition">{{value.PositionTitle}}</div>
                    </div>
                </div>
                <div class="rating">
                    <md-tooltip>RateMyProfessor</md-tooltip>
                    {{value.Rating >= 1 ? value.Rating : '-'}}
                </div>
            </div>
            <div style="text-align: center">
                <div class="title">Stats</div>
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
                <div class="smallDesc">These are the percentages of graduates from this department that found a job in their major.</div>
                <div class="ratio"> <span count-to="{{course.ratio}}" value="40" duration="1.5"></span>:1</div>
                <div class="smallDesc">The ratio of students per faculty member in the {{course.parent_name}} department</div>
            </div>
        </div>



    </div>
    <div id="loadingContainer" ng-if="!courseLoaded" class="animate-fade" layout="row" layout-align="center center">
        <img src="images/pie.svg" />
    </div>
</div>