<div id="selectContainer" layout="row" layout-align="space-between center">
    <div class="filter" flex="40">
        <span class="label">Program Level</span>
        <md-select class="md-no-underline" multiple ng-model="user.level" ng-change="user.page = 0" md-selected-text="{{user.level}}" aria-label="Program Level">
            <md-option ng-value="'All Programs'">All Programs</md-option>
            <md-option ng-repeat="level in levels">{{level}}</md-option>
        </md-select>
    </div>
    <div class="filter" flex="40">
        <span class="label">Area of Study</span>
        <md-select class="md-no-underline" multiple ng-model="user.college" ng-change="user.page = 0" md-selected-text="{{user.college}}" aria-label="Program Level">
            <md-option ng-value="'All Schools'">All Schools</md-option>
            <md-option ng-repeat="school in schools">{{school}}</md-option>
        </md-select>
    </div>
</div>

<md-list>
    <md-list-item ng-repeat="degree in filtered = (degrees | filter: degreeFilter) | limitTo: 10 : user.page * 10" ng-click="getCourseInfo(degree.id, degree.cat_id)" md-no-proxy layout="row" layout-align="start center" layout-wrap>
        <div layout="column">
            <div id="degree_title">{{degree.degree}}</div>
            <div id="degree_school">{{degree.school}}</div>
        </div>
    </md-list-item>


</md-list>

<div id="pages">
    <div class="prev" ng-if="filtered.length" ng-disabled="!user.page" ng-click="user.page = user.page-1">Previous</div>
    <span ng-repeat="i in getArray(filtered.length) | limitTo: 5:(user.page >= 5 ? maxPages - 5  : user.page)" ng-click="user.page = i" ng-class="{active:user.page == i, first:$first, last:$last}">{{i+1}}</span>
    <div class="next" ng-if="filtered.length" ng-disabled="user.page == maxPages-1" ng-click="user.page = user.page+1">Next</div>
    <div id="emptyResults" ng-if="!filtered.length && user.level.length && user.college.length">No results to display.</div>
    <div id="emptyFields" ng-if="!filtered.length && !user.level.length">Please select a <b>Program Level</b></div>
    <div id="emptyFields" ng-if="!filtered.length && !user.college.length">Please select an <b>Area of Study</b></div>
</div>


<div id="backdropContainer" ng-if="app.hasBackdrop" class="animate-fade">
    <div id="backdrop">
        <div id="name">{{course.name}}</div>
        <div id="courses" ng-repeat="course in course.courses">{{course.title}}</div>
    </div>
</div>