.xs
    font-family: Open Sans
    
    #landing
        height: 209px
        position: relative
        padding: 53px 8vw
        background: #fed53d

        #textContainer
            text-transform: uppercase
            font-family: Neue Helvetica Condensed
            font-weight: 100
            position: relative

            div
                background: #fff
                font-size: 47px
                padding: 0 10px
                display: inline-block

                &:first-child
                    margin-bottom: 7px

        #pictureContainer
            width: 100%
            position: relative
            margin-top: 20px

            .box
                $width: 150px
                width: $width
                height: $width
                position: relative

                &:before
                    content: ''
                    display: block
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    border: 1px solid #fff

                &:first-child
                    margin-right: 0

                .number
                    font-size: 36px
                    font-weight: 700
                    border-bottom: 2px solid
                    margin-bottom: 8px
                    height: 53px

                .description
                    font-family: Neue Helvetica Condensed
                    font-weight: 100
                    font-size: 20px

    #mainContainer
        margin-top: 52px

        #finder
            height: 100%
            padding: 0 8vw

            #titleContainer
                text-transform: uppercase
                font-size: 40px
                font-family: Neue Helvetica
                font-weight: 300

                #title
                    font-weight: 900

            #text
                line-height: 1.8
                margin: 28px 0 20px

            degree-finder
                width: 100%

                #selectContainer
                    margin: 20px 0 40px

                    .filter
                        

                        .label
                            text-transform: uppercase
                            font-weight: 700
                            font-size: 21px

                        md-select
                            background: rgb(206,215,37)
                            padding: 14px 9px
                            
                            md-select-value
                                color: #fff
                                text-transform: uppercase
                                font-weight: 700
                                font-size: 15px

                                .md-select-icon
                                    color: #fff

            md-list

                md-list-item
                    border-top: 2px solid rgb(220,220,220)
                    
                    &:last-child
                        border-bottom: 2px solid rgb(220,220,220)

                    #degree_title
                        font-weight: 600
                        font-size: 20px

                    #degree_school
                        font-size: 14px
                        font-family: Sorts Mill Goudy

                    div.md-button
                        padding: 27px 0

                        &:hover
                            &:after 
                                content: ''
                                display: inline-block
                                background: rgb(236,236,236)
                                width: 20px
                                height: 20px
                                margin-right: 10px
                                border-radius: 50%

                        .md-ripple-container
                            display: none

                    .md-button
                        background-color: transparent

            #pages
                text-align: center
                margin-top: 40px
                padding-bottom: 100px
                user-select: none

                span 
                    padding: 13px
                    border-top: 2px solid rgb(236,236,236)
                    border-bottom: 2px solid rgb(236,236,236)
                    font-size: 15px
                    font-weight: 600
                    cursor: pointer
                    outline: none

                    &.first
                        border-left: 2px solid rgb(236,236,236)
                        
                    &.last
                        border-right: 2px solid rgb(236,236,236)

                    &.active
                        background: rgb(206,215,37)
                        color: #fff

                div
                    display: inline-block
                    padding: 12px 18px
                    outline: none
                    cursor: pointer

                    &[disabled=disabled]
                        color: rgb(236,236,236)
                        pointer-events: none
                        border: none

                    
            #backdropContainer
                background-color: #FBFBFA
                position: fixed
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 99
                overflow-y: auto

                #loadingContainer
                    height: 100%

                #backdrop
                    padding: 30px

                    .title
                        font-size: 14px
                        margin: 25px 0 10px
                        padding: 15px 0 10px
                        font-weight: 600
                        border-top: 1px solid #999999
                        text-align: left
                        text-transform: uppercase

                        span
                            float: right

                    #top
                        margin-bottom: 90px
                        padding-top: 23px
                        border-top: 2px solid rgb(153,153,153)

                        ng-letter-avatar
                            height: 50px

                        #name
                            font-weight: 600
                            font-size: 36px
                            margin-left: 24px
                            
                        .parent_name
                            font-family: Sorts Mill Goudy
                            margin-left: 26px
                            font-size: 20px
                            color: #999

                        #close
                            outline: none
                            font-size: 30px
                            padding: 0 25px
                            cursor: pointer
                            color: red
                            height: 18px
                            line-height: .4

                    .container
                        flex: 1 1 auto
                        width: 100% !important
                        &:first-child
                            margin-left: 0
                        .not-first
                            height: 0
                            overflow: hidden

                        .course_hours
                            width: 300px
                            a
                                text-decoration: none
                                cursor: default
                                color: inherit
                                pointer-events: none

                            table
                                width: 100%

                                tr
                                    td
                                        font-weight: 100
                                        font-size: 13px
                                        line-height: 2


                                        &:nth-child(2)
                                            text-align: right
                                            width: 50px
                                        
                                        &:nth-child(3)
                                            display: none
                                    
                        .readMore
                            text-align: center
                            background: #ececec
                            padding: 10px
                            cursor: pointer
                        .courses
                            font-size: 16px
                            font-weight: 300
                            border-top-width: 0px
                            border-bottom-width: 0px
                            min-height: 38px
                            padding: 0
                            cursor: pointer
                            overflow: hidden
                            white-space: nowrap
                            text-overflow: ellipsis
                            display: flex
                            justify-content: space-between

                            &:before
                                min-height: auto !important

                            img
                                margin-right: 14px

                            .course_description
                                width: 250px
                                box-sizing: border-box
                                font-size: 13px
                                white-space: normal
                                text-overflow: ellipsis
                                overflow: hidden
                                margin-bottom: 10px

                            .credit
                                font-size: 13px
                                width: 15px

                        .about
                            font-size: 14px
                            line-height: 27px
                            font-weight: 300

                            p:first-child 
                                margin-top: 0

                            a
                                text-decoration: none
                                cursor: default
                                color: inherit
                                pointer-events: none

                        .deanHolder
                            font-size: 14px
                            margin-bottom: 10px

                            img
                                height: 40px
                                margin-right: 16px

                            #deanName
                                font-weight: 600

                            #deanPosition
                                width: 200px
                                white-space: nowrap
                                text-overflow: ellipsis
                                overflow: hidden

                            .rating
                                background: #fed53d
                                padding: 10px
                                color: #000
                                width: 49px
                                text-align: center
                                font-weight: bold

                        .smallDesc
                            max-width: 300px
                            font-size: 12px
                            font-weight: 600
                            margin: 32px auto 0
                            text-align: left
                            color: #999

                        .ratio
                            font-size: 116px
                            font-weight: 100
                            margin-top: 64px
                            text-align: center
                            font-family: Neue Helvetica
           
                        #pie
                            width: 100% !important
                            height: auto !important

        
        #request
            background: rgb(237,237,237)
            width: 100%
            height: 475px
            margin-top: 40px

        