.md {
  font-family: Open Sans; }
  .md #landing {
    height: 237px;
    position: relative;
    padding: 53px 8vw;
    background: #fed53d; }
    .md #landing #textContainer {
      text-transform: uppercase;
      font-family: Neue Helvetica Condensed;
      font-weight: 100;
      position: relative; }
      .md #landing #textContainer div {
        background: #fff;
        font-size: 60px;
        padding: 0 10px;
        display: inline-block; }
        .md #landing #textContainer div:first-child {
          margin-bottom: 7px; }
    .md #landing #pictureContainer {
      position: relative; }
      .md #landing #pictureContainer .box {
        padding: 20px;
        width: 135px;
        height: 135px;
        position: relative; }
        .md #landing #pictureContainer .box:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 1px solid #fff;
          transform: rotate(45deg); }
        .md #landing #pictureContainer .box:first-child {
          margin-right: 100px; }
        .md #landing #pictureContainer .box .number {
          font-size: 36px;
          font-weight: 700;
          border-bottom: 2px solid;
          margin-bottom: 8px;
          height: 48px; }
        .md #landing #pictureContainer .box .description {
          font-family: Neue Helvetica Condensed;
          font-weight: 100;
          font-size: 15px; }
      .md #landing #pictureContainer .bigBox {
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: 7;
        transform: rotate(45deg);
        overflow: hidden;
        top: 77%;
        left: 30%; }
        .md #landing #pictureContainer .bigBox #image {
          background: url(../../images/graduation.jpg);
          transform: rotate(-45deg);
          width: 500px;
          height: 500px;
          margin: -125px 0 0 -125px; }
  .md #mainContainer {
    margin-top: 52px; }
    .md #mainContainer #finder {
      height: 100%;
      padding: 0 8vw; }
      .md #mainContainer #finder #titleContainer {
        text-transform: uppercase;
        font-size: 40px;
        font-family: Neue Helvetica;
        font-weight: 300; }
        .md #mainContainer #finder #titleContainer #title {
          font-weight: 900; }
      .md #mainContainer #finder #text {
        line-height: 1.8;
        margin: 28px 0 20px; }
      .md #mainContainer #finder degree-finder {
        width: 100%; }
        .md #mainContainer #finder degree-finder #selectContainer {
          margin: 20px 0 40px; }
          .md #mainContainer #finder degree-finder #selectContainer .filter .label {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 21px; }
          .md #mainContainer #finder degree-finder #selectContainer .filter md-select {
            background: #ced725;
            padding: 14px 9px; }
            .md #mainContainer #finder degree-finder #selectContainer .filter md-select md-select-value {
              color: #fff;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 15px; }
              .md #mainContainer #finder degree-finder #selectContainer .filter md-select md-select-value .md-select-icon {
                color: #fff; }
      .md #mainContainer #finder md-list md-list-item {
        border-top: 2px solid gainsboro; }
        .md #mainContainer #finder md-list md-list-item:last-child {
          border-bottom: 2px solid gainsboro; }
        .md #mainContainer #finder md-list md-list-item #degree_title {
          font-weight: 600;
          font-size: 20px; }
        .md #mainContainer #finder md-list md-list-item #degree_school {
          font-size: 14px;
          font-family: Sorts Mill Goudy; }
        .md #mainContainer #finder md-list md-list-item div.md-button {
          padding: 27px 0; }
          .md #mainContainer #finder md-list md-list-item div.md-button:hover:after {
            content: "";
            display: inline-block;
            background: #ececec;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%; }
          .md #mainContainer #finder md-list md-list-item div.md-button .md-ripple-container {
            display: none; }
        .md #mainContainer #finder md-list md-list-item .md-button {
          background-color: transparent; }
      .md #mainContainer #finder #pages {
        text-align: center;
        margin-top: 40px;
        padding-bottom: 100px;
        user-select: none; }
        .md #mainContainer #finder #pages span {
          padding: 17px;
          border-top: 2px solid #ececec;
          border-bottom: 2px solid #ececec;
          font-size: 15px;
          font-weight: 600;
          cursor: pointer;
          outline: none; }
          .md #mainContainer #finder #pages span.first {
            border-left: 2px solid #ececec; }
          .md #mainContainer #finder #pages span.last {
            border-right: 2px solid #ececec; }
          .md #mainContainer #finder #pages span.active {
            background: #ced725;
            color: #fff; }
        .md #mainContainer #finder #pages div {
          display: inline-block;
          padding: 16px 30px;
          border: 2px solid #ececec;
          margin: 0 25px;
          outline: none;
          cursor: pointer; }
          .md #mainContainer #finder #pages div[disabled=disabled] {
            color: #ececec;
            pointer-events: none;
            border: none; }
      .md #mainContainer #finder #backdropContainer {
        background-color: #FBFBFA;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        overflow-y: auto; }
        .md #mainContainer #finder #backdropContainer #loadingContainer {
          height: 100%; }
        .md #mainContainer #finder #backdropContainer #backdrop {
          padding: 60px; }
          .md #mainContainer #finder #backdropContainer #backdrop .title {
            font-size: 14px;
            margin: 25px 0 10px;
            padding: 15px 0 10px;
            font-weight: 600;
            border-top: 1px solid #999999;
            text-align: left;
            text-transform: uppercase; }
            .md #mainContainer #finder #backdropContainer #backdrop .title span {
              float: right; }
          .md #mainContainer #finder #backdropContainer #backdrop #top {
            margin-bottom: 90px;
            padding-top: 23px;
            border-top: 2px solid #999999; }
            .md #mainContainer #finder #backdropContainer #backdrop #top ng-letter-avatar {
              height: 50px; }
            .md #mainContainer #finder #backdropContainer #backdrop #top #name {
              font-weight: 600;
              font-size: 36px;
              margin-left: 24px; }
            .md #mainContainer #finder #backdropContainer #backdrop #top .parent_name {
              font-family: Sorts Mill Goudy;
              margin-left: 26px;
              font-size: 20px;
              color: #999; }
            .md #mainContainer #finder #backdropContainer #backdrop #top #close {
              outline: none;
              font-size: 30px;
              padding: 0 25px;
              cursor: pointer;
              color: red;
              height: 18px;
              line-height: 0.4; }
          .md #mainContainer #finder #backdropContainer #backdrop .container {
            margin-left: 50px;
            flex: 1 1 auto; }
            .md #mainContainer #finder #backdropContainer #backdrop .container:first-child {
              margin-left: 0; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .not-first {
              height: 0;
              overflow: hidden; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .course_title {
              font-size: 12px;
              margin: 0px 0 10px;
              padding: 7px 10px 10px;
              font-weight: 600;
              text-align: left;
              text-transform: uppercase;
              border-top: 2px solid #efefef;
              border-bottom: 2px solid #efefef; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .course_title .year {
                font-size: 10px;
                color: #777; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .course_title .credit {
                float: right; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours {
              width: 300px; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours a {
                text-decoration: none;
                cursor: default;
                color: inherit;
                pointer-events: none; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours table {
                width: 100%; }
                .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours table tr td {
                  font-weight: 100;
                  font-size: 13px;
                  line-height: 2; }
                  .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours table tr td:nth-child(2) {
                    text-align: right;
                    width: 50px; }
                  .md #mainContainer #finder #backdropContainer #backdrop .container .course_hours table tr td:nth-child(3) {
                    display: none; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .readMore {
              text-align: center;
              background: #ececec;
              padding: 10px;
              cursor: pointer; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .courses {
              font-size: 16px;
              font-weight: 300;
              border-top-width: 0px;
              border-bottom-width: 0px;
              min-height: 38px;
              padding: 0;
              cursor: pointer;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: flex;
              justify-content: space-between; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .courses:before {
                min-height: auto !important; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .courses img {
                margin-right: 14px; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .courses .course_description {
                width: 250px;
                box-sizing: border-box;
                font-size: 13px;
                white-space: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 10px; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .courses .credit {
                font-size: 13px;
                width: 15px; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .about {
              font-size: 14px;
              line-height: 27px;
              font-weight: 300; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .about p:first-child {
                margin-top: 0; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .about a {
                text-decoration: none;
                cursor: default;
                color: inherit;
                pointer-events: none; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .deanHolder {
              font-size: 14px;
              margin-bottom: 10px; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .deanHolder img {
                height: 40px;
                margin-right: 16px; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .deanHolder #deanName {
                font-weight: 600; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .deanHolder #deanPosition {
                width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; }
              .md #mainContainer #finder #backdropContainer #backdrop .container .deanHolder .rating {
                background: #fed53d;
                padding: 10px;
                color: #000;
                width: 49px;
                text-align: center;
                font-weight: bold; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .smallDesc {
              max-width: 300px;
              font-size: 12px;
              font-weight: 600;
              margin-top: 32px;
              text-align: left;
              color: #999; }
            .md #mainContainer #finder #backdropContainer #backdrop .container .ratio {
              font-size: 116px;
              font-weight: 100;
              margin-top: 64px;
              text-align: center;
              font-family: Neue Helvetica; }
            .md #mainContainer #finder #backdropContainer #backdrop .container #pie {
              width: 100% !important;
              height: auto !important; }
    .md #mainContainer #request {
      background: #ededed;
      width: 100%;
      height: 475px;
      margin-top: 40px; }

/*# sourceMappingURL=degree.css.map */
